# Assignment
## Brief
Write the Python codes for the following questions.
## Instructions
Paste the answer as Python in the answer code section below each question.

### Question 1
Question: Calculate the correlation between 'MSFT' and 'IBM' returns from a DataFrame of stock returns.

In [2]:
import pandas as pd

# Assuming 'returns' is a DataFrame containing stock returns
returns = pd.DataFrame({
    'MSFT': [0.05, 0.07, -0.01],
    'IBM': [0.04, 0.02, 0.03]
})

In [3]:
# Answer:
returns.corr()

          MSFT       IBM
MSFT  1.000000 -0.240192
IBM  -0.240192  1.000000

### Question 2
Question: Convert the columns `B` and `C` from wide to long format.

In [4]:
import pandas as pd

df = pd.DataFrame({
'A': {0: 'a', 1: 'b', 2: 'c'},
'B': {0: 1, 1: 3, 2: 5},
'C': {0: 2, 1: 4, 2: 6}
})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [8]:
# Answer:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'], var_name='B_C', value_name='value')

   A B_C  value
0  a   B      1
1  b   B      3
2  c   B      5
3  a   C      2
4  b   C      4
5  c   C      6

### Question 3
Question: Slice the Series to return data from 5th to 15th January.

In [6]:
import pandas as pd
import numpy as np

dates = pd.date_range("2023-01-01", "2023-01-31")
data = pd.Series(np.random.rand(len(dates)), index=dates)

In [7]:
# Answer:
data["2023-01-05":"2023-01-15"]

2023-01-05    0.855210
2023-01-06    0.232676
2023-01-07    0.940246
2023-01-08    0.531718
2023-01-09    0.593283
2023-01-10    0.415337
2023-01-11    0.844013
2023-01-12    0.310082
2023-01-13    0.111949
2023-01-14    0.143994
2023-01-15    0.196401
Freq: D, dtype: float64

## Submission
- Submit the URL of the GitHub Repository that contains your work to NTU black board.
- Should you reference the work of your classmate(s) or online resources, give them credit by adding either the name of your classmate or URL.